@import url("https://fonts.googleapis.com/css2?family=Fredoka:wght@300..700&family=Outfit:wght@100..900&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

.fredoka {
  font-family: "Fredoka", sans-serif;
  font-optical-sizing: auto;
}

.outfit {
  font-family: "Outfit", sans-serif;
  font-optical-sizing: auto;
}

.swiper-button-next,
.swiper-button-prev {
  display: none !important;
}

.swiper-pagination-bullet {
  width: 12px !important;
  height: 12px !important;
}

.title {
  text-wrap: nowrap;
  @apply max-h-[40px] max-w-[150px] overflow-hidden text-ellipsis md:max-w-[150px] lg:max-w-[350px];
}
